* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	outline: none;
}

body{
	width: 100%;
	height: 100vh;
	font-family: 'Shojumaru', cursive;
}

p {
	display: block;
	position: absolute;
	top: 10px;
	width: 100%;
	transition-duration: 1s;
	font-size: 30px;
	color: #024a21;
}

b {
	color: yellow;
}

.textRight {
	transform-origin: right center;
}

.textLeft {
	transform-origin: right center;
	text-align: right;
}

#helpPanel, #res_left {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	transition-duration: 1s;
	transform-origin: left center;
	background-position: right center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-image: url(../image/background_left.png);
  	transform-origin: left center;
}

#login, #res_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	transition-duration: 1s;
	background-position: left center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-image: url(../image/background_right.png);
  	transform-origin: right center;
}

.rotate_right{
	transform: perspective(1000px) rotateY(-90deg) !important;
}

.rotate_left{
	transform: perspective(1000px) rotateY(90deg) !important;
}

#nickname{
	border-radius: 25px;
	margin-bottom: 50px;
	font-size: 25px;
	width: 300px;
	height: 50px;
	font-family: 'Shojumaru', cursive;
	text-align: center;
}

#start{
	background-color: red;
	color: #0c6517;
	border-radius: 25px;
	font-size: 25px;
	width: 250px;
	height: 50px;
	cursor: pointer;
	font-family: 'Shojumaru', cursive;
}

.key {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}